<fieldset data-hook="store_credit_type_form">
  <%= f.field_container :name do %>
    <%= f.label :name, t(:store_credit_type_name)%><span class="required">*</span><br />
    <%= f.text_field :name %>
  <% end %>
</fieldset>
